body {
    font-family: Gill Sans, Verdana, sans-serif;
    font-weight:100;
    font-color: #696969;
    margin: 0px auto;
    width: 100%;
    top: 0px;
    font-size: 20px;
}
a{
    color: #003cb3;
    background-color: transparent;
}
a:link, a:visited {
    background-color: transparent;
}
a:hover, a:active {
}




.slider {
    max-width: 110%;
    height: 600px;
    margin: 50px -10px -10px;
    position: relative;
}
.slide1 {
    position: absolute;
    width: 100%;
    height: 100%;
//background: url(./images_2022/Mola4.jpeg)no-repeat center;
    background-size: cover;
    animation:fade 60s infinite;
    -webkit-animation:fade 60s infinite;
}
.slide2 {
    position: absolute;
    width: 100%;
    height: 100%;
//background: url(./images_2022/Mola1.jpg)no-repeat center;
    background-size: cover;
    animation:fade2 60s infinite;
    -webkit-animation:fade2 60s infinite;
}
.slide3 {
    position: absolute;
    width: 100%;
    height: 100%;
//background: url(./images_2022/Mola2.jpeg)no-repeat center;
    background-size: cover;
    animation:fade3 60s infinite;
    -webkit-animation:fade3 60s infinite;
}
.slide4 {
    position: absolute;
    width: 100%;
    height: 100%;
//background: url(./images_2022/Mola3.jpg)no-repeat center;
    background-size: cover;
    animation:fade4 60s infinite;
    -webkit-animation:fade4 60s infinite;
}
@keyframes fade
{
    0%   {opacity:1}
    25% { opacity: 0}
    50% { opacity: 0}
    75% { opacity: 0}
    100% { opacity: 1}
}
@keyframes fade2
{
    0%   {opacity:0}
    25% { opacity: 1}
    50% { opacity: 0}
    75% { opacity: 0}
    100% { opacity: 0}
}
@keyframes fade3
{
    0%   {opacity:0}
    25% { opacity: 0}
    50% { opacity: 1}
    75% { opacity: 0}
    100% { opacity: 0}
}
@keyframes fade4
{
    0%   {opacity:0}
    25% { opacity: 0}
    50% { opacity: 0}
    75% { opacity: 1}
    100% { opacity: 0}
}




div#menu {
    font-size: 14px;
}

ul#menu {
    position: fixed;
    box-shadow: 3px 3px 3px #888888;
    margin:0% 0% 0%;
    padding:0% 0% 0%;
    list-style: none;
    float:left;
    width: 100%;
    height: 50px;
    top: 0px;
    background-color: #ffffff ;
    font-size: 14px;
    z-index: 10;
}

ul#menu li {
    margin:0%;
    padding:0%;
    float:left;
    display: block;
    border-right: 0px solid #000000;
    position: relative;
    opacity: 1;
}

ul#menu li a {
    float: left;
    padding:12px 25px;
    color: #3f3f3f;
    text-decoration:none;
    font-size:16px;
    text-transform: uppercase;
    /*	font-variant:small-caps;*/
}

ul#menu li a:hover {
    background: #ffffff;
    color:#3f3f3f;
}

ul#menu ul {
    margin:0px 0 0;
    padding:3% 1%;
    display:inline-block;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 25px;
    z-index:12;
}

ul#menu li:hover > ul{
    opacity: 1;
    visibility: visible;
}

ul#menu ul li {
    float: none;
    display: block;
    border: 0;
}

ul#menu ul a {
    padding: 5px;
    width: 180px;
    display: block;
    white-space: nowrap;
    float: none;
    background-color: #ffffff;
    color:#3f3f3f;
    opacity:0.7;
}

ul#menu ul a:hover {
    background-color: #3f3f3f;
    color:#ffffff;
    opacity: 1;
}

ul#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0;
    opacity: 0;
    visibility: hidden;
}
